body {
    background: beige;
	font-family: arial;
    font-size: 8pt;
}

.grid {
	width: 800px;
	height: 500px;
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: 0px;
	background: white;
    outline: 0;
	position:relative;
}

.grid-canvas {
	width: 768px;
	height: 500px;
	/**margin-left:28px;**/
	overflow-x: scroll;
	overflow-y: scroll;
	background: white;
	float:left;
}

.grid-virtual {
	width: 5000px;
	height: 5000px;
	overflow: hidden;
	z-index: 1;
	position:relative;
}

.row {
	width: 100%;
	height: 28px;
	overflow:visible;
	white-space: nowrap;
	cursor: default;
	background: white;
	position: relative;
	z-index: 1;
}

.header-row {
	margin-left: 31px;
	width: 753px; /* --14 px for firefox scrollbar */
	margin-bottom: 20px;
	font-size: 9pt;
	overflow: hidden;
	border-left: 1px solid #336699;
}

.header-virtual {
	width: 5000px;
	margin-bottom: 20px;
	font-size: 9pt;
	overflow: hidden;
}

.left-column {
	width: 32px;
	position: relative;
	float:left;
	height: 486px;
	overflow:hidden;
	background:white;
}

.left-column-virtual {
	width: 32px;
	position: relative;
	height: 5000px;
	overflow:hidden;
	background:white;
	border-left: 1px solid;
	border-color:#336699;
}

.left-column-full {
	width: 32px;
	height: 548px;
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:5;
}

.header-row-full {
	width: 800px;
	height:48px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:0;
}

.top-bar {
	width:800px;
	height: 5px;
	position: absolute;
	bottom: 0px;
	left: 31px;
	z-index: 2;
	overflow:hidden;
	background-image:url('../images/top-bar.png');
	background-repeat: no-repeat;
}

.scrolling-top-junction {
	position: absolute;
	top: 0px;
	right: 0px;
	overflow: visible;
	background-color: #99CCFF;
	float: left;
	border: 1px solid #336699;
	width: 13px;
	height: 46px;
	z-index:5;
}

.scrolling-left-junction {
	position: absolute;
	bottom: 0px;
	left:0px;
	width: 32px;
	height: 14px;
	overflow: visible;
	z-index:5;
	
	border-top: 1px solid;
	border-color:#336699;
	
}

.inner-header-cell {
	text-align: center;
	background-color: #99CCFF;	
	position: absolute;
	top: 0;
	left:0;
	height: 18px;
	width:105px;
	border-right: 1px solid;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color:#336699;
	display: inline-block;
	padding: 4px;	/* could adjust one more pix on the left for the border*/
}

.cell {
	float: left;
	height: 20px;
	width:106px;
	overflow: visible;
	position: relative;
	display: inline-block;
	padding: 4px;
	z-index: 1;
	background-color: white;
	o-text-overflow: ellipsis;
}

.inner-cell {
	position: absolute;
	top: 0;
	left: 0;
	height: 19px;
	width:105px;
	border-right: 1px solid;
	border-bottom: 1px solid; 
	border-color: silver;
	display: inline-block;
	padding: 4px;
	z-index: 1;
}

.row-cell {
	text-align: center;
	width: 22px;
	height: 19px;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-color:#336699;
	/*margin-right: 38px;*/
	padding-left:4px;
	padding-right:4px;
	padding-top:6px;
	padding-bottom:2px;
	font-size: 11px;
	background-color: #99CCFF;
	overflow:hidden;	
}

.selected {	
	background-color: AliceBlue;
}

.inner-cell-edit {
	position: absolute;
	top: -2px;
	left: -2px;
	width: 150px;
	height: 30px;
	position: absolute;
	border: 2px solid #336699;
	text-align: left;
	display: inline-block;
	padding: 4px;
	background-color: AliceBlue;
	font-size: 120%;
	overflow: visible;
	z-index: 5;
}

.input-area {
	background: transparent;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

.inner-cell-select {
	position: absolute;
	top: -2px;
	left: -2px;
	height: 19px;
	width:105px;
	border: 2px solid #336699;
	display: inline-block;
	padding: 4px;	
	font-size: 120%;
	overflow:visible;
	z-index: 5;
}

.clear {
	clear: both;
}
